parameters:


application:
	errorPresenter: Error
	mapping:
		*: [App, Modules\*, Presenters\*Presenter]


session:
	expiration: 14 days


security:
	users:
		admin: secret  # user 'admin', password 'secret'


services:
	router: App\Router\RouterFactory::createRouter
