# see https://doc.nette.org/en/configuring

parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\*\**Presenter


database:
	dsn: 'sqlite:%rootDir%/data/blog.sqlite'
	user:
	password:


security:
	users:
		admin: secret  # user 'admin', password 'secret'


latte:
	strictTypes: yes
assets:
	mapping:
		default:
			path: assets
			# type: vite  # Uncomment to activate Vite for asset building