# Application parameters and settings. See https://doc.nette.org/configuring

parameters:


application:
	# Error presenter to handle application errors
	errorPresenter: Error
	# Presenter mapping pattern
	mapping:
		*: App\*Module\Presenters\*Presenter


latte:
	strictTypes: yes


session:
	expiration: 14 days


security:
	users:
		admin: secret  # user 'admin', password 'secret'
