# Service registrations. See https://doc.nette.org/dependency-injection/services

services:
	- App\Core\RouterFactory::createRouter


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
